apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: hashgenerator-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hashgenerator
  template:
    metadata:
      labels:
        app: hashgenerator
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
      containers:
        - name: hashgenerator
          image: waltherbeach/hashgenerator:26-01-12
          ports:
            - containerPort: 5001
          env:
            - name: PORT
              value: "5001"
            - name: PINGPONG_URL
              value: "http://pingpong-svc.exercises:80"
            - name: INFO_PATH
              value: "/etc/config/information.txt"
            - name: MESSAGE
              valueFrom:
                configMapKeyRef:
                  name: log-output-config
                  key: message
          readinessProbe:
            httpGet:
              path: /ready
              port: 5001
            initialDelaySeconds: 5
            periodSeconds: 5
            timeoutSeconds: 2
            failureThreshold: 3
          volumeMounts:
            - name: config-volume
              mountPath: /etc/config/information.txt
              subPath: "information.txt"
      volumes:
        - name: config-volume
          configMap:
            name: log-output-config
