apiVersion: apps/v1
kind: Deployment
metadata:
  name: hashgenerator-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hashgenerator
  template:
    metadata:
      labels:
        app: hashgenerator
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
      containers:
        - name: hashgenerator
          image: waltherbeach/hashgenerator:26-01-7
          ports:
            - containerPort: 5001
          env:
            - name: PORT
              value: "5001"
            - name: PINGPONG_URL
              value: "http://pingpong-svc:2346"
