apiVersion: apps/v1
kind: Deployment
metadata:
  name: hashgenerator-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hashgenerator
  template:
    metadata:
      labels:
        app: hashgenerator
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        fsGroup: 1000
      volumes:
        - name: shared-count
          persistentVolumeClaim:
            claimName: count-claim
      containers:
        - name: hashgenerator
          image: waltherbeach/hashgenerator:26-01-6
          volumeMounts:
            - name: shared-count
              mountPath: /var/log/shared
          ports:
            - containerPort: 5001
          env:
            - name: PORT
              value: "5001"
