apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: pingpong-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pingpong
  template:
    metadata:
      labels:
        app: pingpong
    spec:
      securityContext:
        fsGroup: 1000
        runAsNonRoot: true
        runAsUser: 1000
      containers:
        - name: pingpong
          image: waltherbeach/pingpong:26-01-15
          ports:
            - containerPort: 5002
          env:
            - name: PORT
              value: "5002"
            - name: DB_HOST
              valueFrom:
                configMapKeyRef:
                  name: pingpong-db-config
                  key: DB_HOST
            - name: DB_NAME
              valueFrom:
                configMapKeyRef:
                  name: pingpong-db-config
                  key: DB_NAME
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: pingpong-db-secret
                  key: POSTGRES_PASSWORD
