apiVersion: apps/v1
kind: Deployment
metadata:
  name: hashgenerator-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hashgenerator
  template:
    metadata:
      labels:
        app: hashgenerator
    spec:
      containers:
        - name: hashgenerator
          image: waltherbeach/dwk-app1:26-01-1
          ports:
            - containerPort: 5001
          env:
            - name: PORT
              value: "5001"
